body {
   background-color: #6d3939;
   font-family: 'Pacifico',
      cursive;
   text-align: center;
   color: #fff;
}

::selection {
   color: aqua;
}

.container,
.container-fluid {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.container {
   justify-content: space-between;
}

.button_container .btn {
   margin: 1rem 2.5rem;
}

.btn_costum {
   width: 30%;
   margin: 1rem;
   padding: 50px;
}

.players_container,
.score_container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
}

.player_highlight {
   border-bottom: 1px solid #fff;
   color: #000;
}

.winner_flag_p1,
.winner_flag_p2 {
   display: none;
}

.winner_color {
   color: green;
}

.looser_color {
   color: red;
}